/*
  请按你的服务器实际路径修改。
  说明：
  1) tss_bed 建议是 1bp TSS BED，而不是 promoter ±3kb BED
  2) gene_body_bed 建议是整条 gene body BED
  3) te_bed 支持 BED；主流程 TE heatmap 和下游 TE overlap 也兼容 GTF/GFF
*/
if (params.species == 'hg38') {
  params.genome_fasta          = '/path/to/reference/human_hg38/GRCh38.primary_assembly.genome.fa'
  params.bowtie2_index         = '/path/to/reference/bowtie2_index/bowtie2_index_hg38/hg38'
  params.chrom_sizes           = '/path/to/reference/human_hg38/hg38.chrom.sizes'
  params.gtf_genes             = '/path/to/reference/human_hg38/gencode.v49.primary_assembly.annotation.gtf'
  params.blacklist             = '/path/to/reference/blacklist/hg38-blacklist.v2.bed'
  params.genome_size           = 'hs'
  params.effective_genome_size = '2913022398'
  params.mito_chr              = 'chrM'
  params.tss_bed               = '/path/to/reference/TSS/hg38_tss.bed'
  params.gene_body_bed         = '/path/to/reference/TSS/hg38_gene_body.bed'
  params.te_bed                = '/path/to/reference/TE_GTF/hg38_rmsk_TE.gtf'
  params.motif_genome          = 'hg38'
  params.motif_meme            = "${baseDir}/conf/JASPAR2026_CORE_non-redundant_pfms_meme.txt"
}

if (params.species == 'mm10') {
  params.genome_fasta          = '/path/to/reference/mouse_mm10/GRCm38.primary_assembly.genome.fa'
  params.bowtie2_index         = '/path/to/reference/bowtie2_index/bowtie2_index_mm10/mm10'
  params.chrom_sizes           = '/path/to/reference/mouse_mm10/mm10.chrom.sizes'
  params.gtf_genes             = '/path/to/reference/mouse_mm10/gencode.vM25.primary_assembly.annotation.gtf'
  params.blacklist             = '/path/to/reference/blacklist/mm10-blacklist.v2.bed'
  params.genome_size           = 'mm'
  params.effective_genome_size = '2652783500'
  params.mito_chr              = 'chrM'
  params.tss_bed               = '/path/to/reference/TSS/mm10_tss.bed'
  params.gene_body_bed         = '/path/to/reference/TSS/mm10_gene_body.bed'
  params.te_bed                = '/path/to/reference/TE_GTF/mm10_rmsk_TE.gtf'
  params.motif_genome          = 'mm10'
  params.motif_meme            = "${baseDir}/conf/JASPAR2026_CORE_non-redundant_pfms_meme.txt"
}

if (params.species == 'mm39') {
  params.genome_fasta          = '/path/to/reference/mouse_mm39/GRCm39.primary_assembly.genome.fa'
  params.bowtie2_index         = '/path/to/reference/bowtie2_index/bowtie2_index_mm39/mm39'
  params.chrom_sizes           = '/path/to/reference/mouse_mm39/mm39.chrom.sizes'
  params.gtf_genes             = '/path/to/reference/mouse_mm39/gencode.vM38.primary_assembly.annotation.gtf'
  params.blacklist             = '/path/to/reference/blacklist/mm39.excluderanges.bed'
  params.genome_size           = 'mm'
  params.effective_genome_size = '2652783500'
  params.mito_chr              = 'chrM'
  params.tss_bed               = '/path/to/reference/TSS/mm39_tss.bed'
  params.gene_body_bed         = '/path/to/reference/TSS/mm39_gene_body.bed'
  params.te_bed                = '/path/to/reference/TE_GTF/mm39_rmsk_TE.gtf'
  params.motif_genome          = 'mm39'
  params.motif_meme            = "${baseDir}/conf/JASPAR2026_CORE_non-redundant_pfms_meme.txt"
}
