/*
  Reference paths - hardcoded for hg38.
  For other species, edit this file or use -profile.
*/

params.rediscoverte_dir = '/path/to/softwares/REdiscoverTE'
params.rediscoverte_rollup_dir = '/path/to/softwares/REdiscoverTE/original/REdiscoverTE/rollup_annotation'
params.salmonte_dir = '/path/to/softwares/SalmonTE-0.4'

params.genome_fasta = '/path/to/reference/human_hg38/GRCh38.primary_assembly.genome.fa'
params.gtf_genes = '/path/to/reference/human_hg38/gencode.v49.primary_assembly.annotation.gtf'
params.star_index = '/path/to/reference/STAR_index/hg38'
params.hisat2_index = '/path/to/reference/HISAT2_index/hg38/hg38'
params.salmon_index = '/path/to/reference/salmon_index/salmon_index_decoy_hg38'
params.gtf_te = '/path/to/reference/TE_GTF/hg38_rmsk_TE.gtf'
params.telocal_index = '/path/to/reference/TElocal/hg38_rmsk_TE.gtf.locInd'
params.rediscoverte_salmon_index = '/path/to/reference/REdiscoverTE/REdiscoverTE'
params.salmonte_ref = 'hs'
params.blacklist = '/path/to/reference/blacklist/hg38-blacklist.v2.bed'
params.rmsk = '/path/to/reference/rmsk/hg38_rmsk.bed.gz'
