.DS_Store
._*
.nextflow/
work/
__pycache__/
*.pyc
results*/
*_results/
atacseq_results/
_automation/
*.fastq.gz
*.fq.gz
*.fastq
*.fq
*.bam
*.bai
*.bw
*.sam
*.cram
*.crai
*.log
*.tmp
*.pid
*.bak
*.bak*
pipeline_report.html
pipeline_timeline.html
pipeline_trace.txt
pipeline_dag.html
