manifest.name = 'atacseq-pipeline'

params.samplesheet      = null
params.outdir           = 'results'
params.species          = 'hg38'
params.read_type        = 'auto'
params.run_fastp        = true
params.run_markdup      = true
params.remove_mito      = true
params.remove_blacklist = true
params.run_bamcoverage  = true
params.run_peak_calling = true
params.run_downstream   = true
params.peak_type        = 'narrow'
params.call_broad       = false
params.macs_qvalue      = 0.01
params.se_shift         = -100
params.se_extsize       = 200
params.genome_size      = null
params.mapq             = 30
params.shift_reads      = false
params.max_cpus         = 36
params.max_memory       = '360 GB'
params.max_time         = '240h'
params.queue_size       = 8

params.check_cpus       = 1
params.check_mem        = '1 GB'
params.fastp_cpus       = 4
params.fastp_mem        = '8 GB'
params.fastp_max_forks  = 3
params.fastp_timeout    = '30m'
params.align_cpus       = 16
params.align_mem        = '36 GB'
params.qc_cpus          = 4
params.qc_mem           = '8 GB'
params.peak_cpus        = 6
params.peak_mem         = '16 GB'
params.count_cpus       = 4
params.count_mem        = '8 GB'
params.downstream_cpus  = 4
params.downstream_mem   = '16 GB'
params.track_normalization = "RPGC"

params.run_tss_enrich        = false
params.tss_bed               = ''
params.run_gene_body_profile = false
params.gene_body_bed         = ''
params.run_te_heatmap        = false
params.te_bed                = ''
params.run_te_relaxed_tracks = false
params.te_mapq               = 0
params.te_exclude_flags      = 780
params.te_run_markdup        = false
params.te_remove_mito        = true
params.te_remove_blacklist   = true
params.te_proper_pair_only   = true
params.te_track_normalization = 'CPM'
params.te_bw_binsize         = 10
params.run_fixedbin          = true
params.fixedbin_size         = 100000
params.run_motif             = false
params.motif_genome          = ''
params.run_footprinting      = false
params.run_nuc_phasing       = true
params.motif_meme            = ''

includeConfig 'conf/species_refs.config'

executor {
  name = 'local'
  queueSize = params.queue_size as int
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 1
  cpus = 1
  memory = '2 GB'
  time = params.max_time
  resourceLimits = [cpus: params.max_cpus as int, memory: params.max_memory]

  withName: 'CHECK_REFS'         { cpus = params.check_cpus;      memory = params.check_mem }
  withName: 'FASTP_PE|FASTP_SE'  { cpus = params.fastp_cpus;      memory = params.fastp_mem; maxForks = params.fastp_max_forks; maxRetries = 2; errorStrategy = 'retry' }
  withName: 'ALIGN_FILTER_PE|ALIGN_FILTER_SE' { cpus = params.align_cpus; memory = params.align_mem; maxRetries = 2; errorStrategy = 'terminate' }
  withName: 'ATAC_QC|MERGE_QC_SUMMARY|QC_PLOTS|TSS_ENRICH|GENE_BODY_PROFILE|TE_HEATMAP|ATAC_TE_RELAXED_TRACKS' { cpus = params.qc_cpus; memory = params.qc_mem }
  withName: 'BAMCOVERAGE'        { cpus = params.qc_cpus;         memory = params.qc_mem }
  withName: 'CALL_PEAKS'         { cpus = params.peak_cpus;       memory = params.peak_mem }
  withName: 'BUILD_CONSENSUS|COUNT_CONSENSUS|BUILD_FIXED_BINS|COUNT_FIXED_BINS' { cpus = params.count_cpus; memory = params.count_mem }
  withName: 'RUN_DOWNSTREAM_PEAK|RUN_DOWNSTREAM_BIN|MOTIF_ENRICH|FOOTPRINTING' { cpus = params.downstream_cpus; memory = params.downstream_mem }
}

params.conda_cache_dir = params.conda_cache_dir ?: "${params.outdir}/_automation/conda_cache"

conda {
  enabled = true
  process.conda = "/path/to/.conda/envs/chipseq"
  cacheDir = params.conda_cache_dir
  channels = ['conda-forge', 'bioconda', 'defaults']
  createOptions = '--strict-channel-priority'
  createTimeout = '2 h'
}

docker.enabled = false
singularity.enabled = false

timeline { enabled = true; file = "${params.outdir}/pipeline_timeline.html"; overwrite = true }
report   { enabled = true; file = "${params.outdir}/pipeline_report.html";   overwrite = true }
trace    { enabled = true; file = "${params.outdir}/pipeline_trace.txt";     overwrite = true }
dag      { enabled = true; file = "${params.outdir}/pipeline_dag.html";      overwrite = true }
